
form {
  margin:0;
  padding:0;
  display:inline;
}

fieldset {
	width: 250px;
	color: #000;
}

h3 {
	font-size:1.2em;
	margin: 10px 0 10px 0;
	font-weight:bold;
}

fieldset label {
	display:block;
	margin-bottom: 10px;
}

fieldset span{
	display:block;
	font-size:0.75em;
	margin-bottom: 0;
}

  fieldset label.inline span {
    display:inline;
    margin-right: 10px;
  }

fieldset textarea,
fieldset input[type="password"],
fieldset input[type="text"] {
	border: solid 1px #ccc;
	padding: 3px 0 2px 4px;
	width: 100%;
	font-size: 0.9em;
	background: #eaeaea;
	color: #000;

}

fieldset textarea {
  height: 160px;
}

fieldset input[type="checkbox"] {
  display:inline;
  vertical-align:bottom;
}

input[type="submit"] {
	font-size: 10px;
	text-transform: uppercase;
	cursor:pointer;
	height:25px;
}

fieldset input[type="submit"] {
	padding: 0 10px 0 10px;
	margin: 0 0 20px 0;	
}

	.pagination input[type="submit"] {
		font-size: 10px;
		text-transform: uppercase;
	}