<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<facilities>
		<facility type="Castle.Facilities.NHibernateIntegration.NHibernateFacility, Castle.Facilities.NHibernateIntegration" 
			id="nhibernate" isWeb="true" useReflectionOptimizer="false">
			<factory id="nhibernate.factory">
				<settings>
					<item key="connection.provider">NHibernate.Connection.DriverConnectionProvider</item>
					<item key="connection.driver_class">#{nhibernateDriver}</item>
					<item key="dialect">#{nhibernateDialect}</item>
					<item key="connection.connection_string">#{connectionString}</item>
          <item key="proxyfactory.factory_class">NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle</item>
				</settings>
				<assemblies>
					<assembly>KnittingClub</assembly>
				</assemblies>
			</factory>
		</facility>
		
		<facility 
			type="Castle.Facilities.AutomaticTransactionManagement.TransactionFacility, Castle.Facilities.AutomaticTransactionManagement" 
			id="autotransaction" />

	</facilities>
</configuration>
