<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<properties>
		<!-- Database -->

		<connectionString>Data Source=|DataDirectory|/knittingclub.db;Version=3;New=False;Compress=True;</connectionString>
		<nhibernateDriver>NHibernate.Driver.SQLite20Driver</nhibernateDriver>
		<nhibernateDialect>NHibernate.Dialect.SQLiteDialect</nhibernateDialect>

		
		<!-- 
		Location for temporary files in transactional uploads. 
		When left empty, The TEMP environment variable is used to lookup the temp directory. 
		-->
		<tempDir></tempDir>
		
	</properties>
</configuration>
