<configuration>
	<components>
		<!-- Core services -->

		<!-- Content related services -->

		<!-- Core data access services -->

    <component
        id="core.repository"
        service="KnittingClub.DataAccess.IRepository`1, KnittingClub"
        type="KnittingClub.DataAccess.CoreRepository`1, KnittingClub">
    </component>    
    
    <component
        id="core.players.repository"
        service="KnittingClub.DataAccess.IPlayerRepository, KnittingClub"
        type="KnittingClub.DataAccess.PlayerRepository, KnittingClub">      
    </component>

    <component
        id="core.games.repository"
        service="KnittingClub.DataAccess.IGameRepository, KnittingClub"
        type="KnittingClub.DataAccess.GameRepository, KnittingClub">
    </component>

  </components>
</configuration>
