<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<facilities>
		<facility type="Castle.Facilities.NHibernateIntegration.NHibernateFacility, Castle.Facilities.NHibernateIntegration" 
			id="nhibernate" isWeb="true" useReflectionOptimizer="false">
			<factory id="nhibernate.factory">
				<settings>
					<item key="connection.provider">NHibernate.Connection.DriverConnectionProvider</item>
					<item key="connection.driver_class">NHibernate.Driver.SQLite20Driver</item>
					<item key="dialect">NHibernate.Dialect.SQLiteDialect</item>
					<item key="connection.connection_string">Data Source=|DataDirectory|/knittingclub.db;Version=3;New=False;Compress=True;</item>
          <item key="proxyfactory.factory_class">NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle</item>
				</settings>
				<assemblies>
					<assembly>KnittingClub</assembly>
				</assemblies>
			</factory>
		</facility>
		
		<facility 
			type="Castle.Facilities.AutomaticTransactionManagement.TransactionFacility, Castle.Facilities.AutomaticTransactionManagement" 
			id="autotransaction" />

	</facilities>

  <components>

    <component
        id="core.repository"
        service="KnittingClub.DataAccess.IRepository`1, KnittingClub"
        type="KnittingClub.DataAccess.CoreRepository`1, KnittingClub">
    </component>

    <component
        id="core.players.repository"
        service="KnittingClub.DataAccess.IPlayerRepository, KnittingClub"
        type="KnittingClub.DataAccess.PlayerRepository, KnittingClub">
    </component>

    <component
        id="core.games.repository"
        service="KnittingClub.DataAccess.IGameRepository, KnittingClub"
        type="KnittingClub.DataAccess.GameRepository, KnittingClub">
    </component>

  </components>  
</configuration>
